body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    background-color: #eee;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


p {
    margin: 0;
}

/* Scrollbar ===============*/

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #55a0ff;

    border-radius: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;

    border-radius: 4px;
}

/* Change Bootstrap ===============*/

.btn {
    text-align: left;
}

.btn-outline-info {
    border-color: #55a0ff;
    color: #55a0ff;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:visited {
    background-color: #55a0ff;
    border-color: #55a0ff;
    color: white;
}

.btn-info {
    background-color: #55a0ff;
    border-color: #55a0ff;
    color: white;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:visited {
    background-color: #0068f0;
    border-color: #0068f0;
}

.btn-info:disabled {
    background-color: #75c1ff;
    border-color: #75c1ff;
}

.btn-info:disabled:hover,
.btn-info:disabled:focus,
.btn-info:disabled:visited {
    background-color: #75c1ff;
    border-color: #75c1ff;
}

.btn_green {
    background-color: #13cf99;
    border-color: #13cf99;
    color: white;
}

.btn_green:hover,
.btn_green:focus,
.btn_green:visited {
    background-color: #0e9e75;
    border-color: #0e9e75;
}

.btn_green:disabled {
    background-color: #28ebb3;
    border-color: #28ebb3;
    color: white;
}

.btn_green:disabled:hover,
.btn_green:disabled:focus,
.btn_green:disabled:visited {
    background-color: #28ebb3;
    border-color: #28ebb3;
}

/* Container ===============*/

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header ===============*/

.header {
    background-color: #55a0ff;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    top: 0;
    left: 0;

    box-shadow: 0 0 7px;
}

.header__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Navigator ===============*/

.nav {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}

.nav__link:nth-child(2) {
    margin-left: 5px;
}

.nav__link:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

/* User ===============*/

.user {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.user_link {
    color: #000;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}

.user_link:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

/* Main Body ===============*/

.main_body {
    width: 100%;
}

.wrapper {
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);

    width: 100%;
    max-width: 1200px;
    overflow: hidden;

    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Title ===============*/

.title h1 {
    font-size: 18px;
    margin: 0;
}

hr {
    width: 100%;
    border: 2px solid #dedede;
    border-radius: 2px;

    margin-top: 5px;
    margin-bottom: 20px;

    opacity: 0.3;
}

/* Hint ===============*/

.hint {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-bottom: 20px;
    padding: 10px 15px;

    font-size: 16px;
    color: #55a0ff;

    border-radius: 5px;
    border: 1px dashed #55a0ff;

    box-shadow: 3px 3px 4px 2px rgba(85,160,255,0.3);

    overflow: hidden;
    text-overflow: ellipsis;
}

.hint p {
    text-align: center;
}

/* Main Titles ===============*/

.main_titles {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main_titles h3 {
    font-size: 14px;
    text-align: center;
}

.main_null {
    width: 525px;
    margin-right: 25px;
}

.first_title {
    width: 220px;
    margin-left: 15px;
}

.second_title {
    width: 140px;
    margin-left: 15px;
}

.main_small_null {
    width: 20px;
    margin-left: 15px;
}

/* Punct List ===============*/

.puncts_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: calc(100vh - 240px); /*Посчитать*/

    overflow: auto;
}

.punct {
    display: flex;
    align-items: center;

    font-size: 14px;

    margin-bottom: 10px;
}

.punct:last-child {
    margin-bottom: 0;
}

.etap:nth-child(1) {
    margin-top: 3px;
}

.punct_button {
    width: 525px;
    margin-right: 25px;

    font-size: 14px;
}

.punct_input {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;

    margin-left: 15px;
}

.start_button {
    width: 220px;

    margin-left: 15px;

    font-size: 12px;
    text-align: center;
}

.small_btn {
    width: 140px;
}

/* Extra Etaps Process ===============*/

.popup_window {
    background: rgba(102, 102, 102, 0.6); /*Попробовать светлее/темнее*/
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.window_form {
    position: relative;
    width: 100%;
    max-width: 1200px;

    height: 100%;
    max-height: calc(100vh - 147px);
    padding: 15px;
    border: 1px solid ;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.7);
}

.middle_window_form {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;

    overflow: hidden;

    margin-bottom: -40px;
    padding: 15px;

    border: 1px solid;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.7);
}

.small_window_form {
    position: relative;
    width: 100%;
    max-width: 600px;

    overflow: hidden;

    margin-bottom: -40px;
    padding: 15px;

    border: 1px solid;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.7);
}

/* Items ===============*/

.title_inner h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.extra_first_check > hr {
    width: 100%;
    border: 2px solid;
    border-radius: 2px;

    margin-top: 5px;
    margin-bottom: 30px;

    opacity: 0.3;
}

.subtitle_inner h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.content_checklist {
    display: flex;

    max-width: 100%;

    margin: auto;
    overflow: auto;
}

.content_item {
    max-width: 300px;

    margin-right: 10px;
    margin-bottom: 10px;

    flex: 1;
}

.content_item hr {
    border: 2px solid;
    margin-bottom: 5px;
}

.item_title {
    width: 100%;
    height: 36px;
    padding:  12px;

    white-space: nowrap;

    font-size: 15px;
    text-align: center;
}

.list {
    width: 100%;
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    display: flex;

    margin-top: 10px;
    margin-right: 5px;
}

.name {
    display: flex;

    flex: 1;
    padding: 3px 12px;

    border-radius: .25rem;

    font-size: 12px;
    line-height: 1.4;

    overflow: auto;
    text-overflow: ellipsis;

    margin-right: 3px;
}

.item_input {
    margin: auto 0;

    height: 16px;
    width: 16px;
}

/* Main Part ===============*/

.main_part {
    display: flex;
    width: 100%;
}

/* Podetap List ===============*/

.podetap_list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 350px);/*Посчитать*/
    min-width: 300px;

    overflow: auto;

    margin-right: 30px;
}

.podetap {
    display: flex;
    margin-bottom: 10px;
    margin-right: 5px;
}

.podetap_title {
    display: flex;
    align-items: center;

    min-height: 38px;
    min-width: 300px;
    width: 500px;

    margin-right: 10px;

    font-size: 16px;
}

.podetap_title > button {
    min-width: 300px;
    width: 500px;

    font-size: 14px;
}

.disabled {
    color: white;
    background-color: #75c1ff;
}

.active {
    background-color: #55a0ff;
}

.podetap_title > p {
    margin-left: 10px;
}

.podetap_check {
    margin: auto 0;

    height: 20px;
    width: 20px;
}

/* Podetap Checklist ===============*/

.podetap_checklist {
    position: relative;
    display: flex;
    flex-direction: column;

    flex: 1;

    padding: 8px;

    border-radius: 5px;
    box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.3);

    max-height: 400px;
    overflow: auto;
}

.line {
    display: flex;

    width: 100%;
    margin-bottom: 10px;
}

.line:last-child {
    margin: 0;
}

.inputs {
    flex: 0 0 45%;

    margin-right: 15px;
}

.field_title h2 {
    font-size: 16px;
}

.field_content {
    display: flex;
    align-items: center;
    height: 38px;
    margin-bottom: 20px;
}

/* Parametrs ===============*/

.param_name {
    display: flex;
    align-items: center;

    height: 38px;
    min-width: 90px;
    width: 100px;

    margin-right: 5px;
}

.param_name h4 {
    font-size: 12px;
    margin: 0;
}

.parametrs_form {
    display: flex;
}

.parametrs_input {
    flex: 1;

    font-size: 14px;

    margin-right: 5px;
}

.parametrs_inner {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    padding: 6px 12px;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid #55a0ff;
    color: #55a0ff;
    border-radius: 5px;
}

/* Timer ===============*/

.timer {
    margin-bottom: 15px;
}

.btn_play {
    margin-right: 10px;
}

.timer_inner {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    height: 38px;

    margin-right: 10px;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid #55a0ff;
    color: #55a0ff;
    border-radius: 5px;
}

.timer_inner:last-child {
    margin-right: 0;
}

/* Descriptions ===============*/

.text_fields {
    flex: 1;

    max-height: 300px;
    overflow-y: auto;
}

.field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.field:last-child {
    margin-bottom: 0;
}

.text {
    min-width: 250px;
}

.text p {
    margin-top: -5px;
    font-size: 12px;
}

/* Add Picture ===============*/

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.buttons > button {
    margin-bottom: 10px;
}

/* Mini_check ===============*/

.mini_check_list {
    display: flex;
    flex-direction: column;

    max-height: 230px;
    width: 100%;
    overflow: auto;
}

.titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.null {
    width: 540px;
    height: 15px;
    margin-right: 25px;
}

.mini_check_title {
    margin-right: 25px;
}

.mini_check {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    margin-bottom: 10px;
}

.radio_punct_input {
    width: 18px;
    height: 18px;
    margin-right: 25px;
}

/* Message ===============*/

.button_bar {
    display: flex;
    justify-content: center;
}

.button_bar button {
    font-size: 12px;
}

/* Footer Inner ===============*/

.footer_bar_inner {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 1200px;

    transform: translateX(-50%);
    margin-left: 50%;
    overflow: hidden;

    margin-bottom: 15px;
    margin-top: 20px;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.footer_bar_inner > button {
    font-size: 12px;
    margin-right: 15px;
}

/* Footer Inner ===============*/

.footer_bar_settings_inner {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    transform: translateX(-50%);
    margin-left: 50%;
    overflow: hidden;

    margin-bottom: 15px;
    margin-top: 20px;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.footer_bar_settings_inner > button {
    font-size: 12px;
}

/* Footer ===============*/

.footer_bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 1200px;

    transform: translateX(-50%);
    margin-left: 50%;
    overflow: hidden;

    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.footer_bar > button {
    font-size: 12px;

    margin: 10px 0;
    margin-right: 40px;
}

.footer_bar > form {
    font-size: 12px;

    margin: 10px 0;
    margin-right: 40px;
}

.footer_bar > button:last-child {
    margin-right: 0;
}

/* Animation ===============*/

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}



