body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;

    background-color: #eee;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* Scrollbar ===============*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: #55a0ff;

    border-radius: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;

    border-radius: 4px;
}

/* Change Bootstrap ===============*/

.btn {
    text-align: left;
}

.btn-outline-info {
    border-color: #55a0ff;
    color: #55a0ff;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:visited {
    background-color: #55a0ff;
    border-color: #55a0ff;
    color: white;
}

.btn-info {
    background-color: #55a0ff;
    border-color: #55a0ff;
    color: white;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:visited {
    background-color: #0068f0;
    border-color: #0068f0;
}

.btn-info:disabled {
    background-color: #75c1ff;
    border-color: #75c1ff;
}

.btn-info:disabled:hover,
.btn-info:disabled:focus,
.btn-info:disabled:visited {
    background-color: #75c1ff;
    border-color: #75c1ff;
}

.btn_green {
    background-color: #13cf99;
    border-color: #13cf99;
    color: white;
}

.btn_green:hover,
.btn_green:focus,
.btn_green:visited {
    background-color: #0e9e75;
    border-color: #0e9e75;
}

/* Container ===============*/

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header ===============*/

.header {
    background-color: #55a0ff;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    top: 0;
    left: 0;

    box-shadow: 0 0 7px;
}

.header__inner {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* Navigator ===============*/

.nav {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}

.nav__link:nth-child(2) {
    margin-left: 5px;
}

.nav__link:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

/* User ===============*/

.user {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.user_link {
    color: #000;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}

.user_link:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

/* Main Body ===============*/

.main_body {
    width: 100%;
}

.wrapper {
    max-height: calc(100vh - 60px);

    width: 100%;
    max-width: 1200px;
    overflow-y: auto;

    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Titlte ===============*/

.title {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-bottom: 15px;
}

.title h1 {
    margin-bottom: 0;

    font-size: 16px;
    text-align: center;
}

/* Etaps ===============*/

.time_etaps {
    width: 100%;

    display: flex;
    flex-direction: column;

    min-width: 918px; /*Возможно изменить*/
}

.sub_title {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
}

.sub_title h2 {
    margin-bottom: 0;

    font-size: 14px;
    text-align: center;
}

.sub_title hr {
    width: 30%;
    border: 2px solid #dedede;
    border-radius: 2px;

    margin-top: 2px;
    margin-bottom: 0;

    opacity: 0.8;
}

.etaps_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-bottom: 15px;
}

/* Row Titltes ===============*/

.row:first-child {
    margin-bottom: 5px;
}

.row:last-child {
    margin-top: 2px;
}

.null_row_title {
    width: 70px;
}

.collumn_title {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    max-width: 80px;
}

.collumn_title h3 {
    font-size: 12px;
    text-align: center;

    margin-bottom: 0;
}

/* Row ===============*/

.row {
    width: 100%;

    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    flex: 1;
    min-width: 50px;
    max-width: 80px;

    border-right: 1px solid #eee;
    border-left: 1px solid #eee;

    border-radius: 5px;
}

.row_title {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 70px;
    flex: 0;
}

.row_title h3 {
    font-size: 12px;
    text-align: center;

    margin-bottom: 0;
}

.plan {
    background-color: #75c1ff;
}

.green {
    background-color: #10c169;
}

.green:hover {
    background-color: #00d150;
    cursor: pointer;
}

.red {
    background-color: #ff4242;
}

.red:hover {
    background-color: #ff1f1f;
    cursor: pointer;
}

/* Information ===============*/

.short_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-bottom: 20px;
}

.info_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
}

.info {
    display: flex;
    width: 100%;

    margin-bottom: 15px;
}

.info:last-child {
    margin-bottom: 0;
}

.info_title {
    display: flex;
    align-items: center;

    width: 50%;
}

.info_value {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.info_title h3 {
    font-size: 13px;
    margin-bottom: 0;
}

.info_value h3 {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 700;
}

/* Button ===============*/

.button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;

    width: 100%;
}

.button button {
    font-size: 12px;
}

/* Popup Window ===============*/

.popup_window {
    top: 165px;
    left: 50%;
    margin-left: -250px;

    padding: 10px 15px 5px 15px;

    width: 500px;
    height: 150px;

    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dedede;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    position: absolute;
}

#popup_title {
    margin-bottom: 0;
}

.main_part {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: calc(100% - 31px);
}

.block {
    height: 20px;
    margin-bottom: 10px;

    background-color: #ffcf3d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.block_title p {
    display: inline-block;
    font-size: 12px;
}

.block:last-child {
    margin-bottom: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
